@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexcenter_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.home {
    // border: 2px solid green;
    width: 100%;

}

.home_container {
    // border: 2px solid orange;
    position: relative;
    width: 100%;
    background: rgb(153, 21, 21);
    background: black;
    background: rgb(15, 15, 3);
}



.home_sections {
    position: absolute;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    // border: 1px solid #ff1010;
    background-color: rgb(253, 233, 206);

    // Hide scrollbar for WebKit (Chrome, Safari)
    &::-webkit-scrollbar {
        display: none;
    }

    // Hide scrollbar for Firefox
    scrollbar-width: none;

    // Hide scrollbar for IE and Edge
    -ms-overflow-style: none;
}